html {
  overflow-x: hidden;
}

div.css-4yauiz {
  height: 427px !important;
}

div.swiper-button-next {
  right: 65px;
}

div.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.mySwiperNewContract {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    color: black;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    color: black;
  }
}

div.swiper-button-prev {
  left: 65px;
}

div.swiper.swiper-testimonials-initialized.swiper-testimonials-horizontal.swiper-testimonials-pointer-events
  .swiper-button-prev:after,
div.swiper.swiper-testimonials-initialized.swiper-testimonials-horizontal.swiper-testimonials-pointer-events
  .swiper-button-next:after {
  color: black;
}

div.swiper.swiper-testimonials-initialized {
  .swiper-button-next {
    right: 200px;
  }

  .swiper-button-prev {
    left: 200px;
  }

  .swiper-pagination-bullets {
    bottom: 34px;
  }
}

@media (max-width: 600px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #f7f5f6;
}

.div.swiper-pagination
  swiper-pagination-clickable
  swiper-pagination-bullets
  swiper-pagination-horizontal {
  margin-bottom: 2rem;
}

@media (min-width: 1029px) {
  div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 50px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #cc3366 !important;
}

svg#Layer_1.chakra-icon.css-176e32y {
  @media screen and (min-width: 48em) {
    width: 170%;
    margin-left: 101px;
  }
}

div.css-34q6yt {
  @media screen and (min-width: 48em) {
    max-width: 240px;
    height: 360px;
    margin-top: 3rem;
  }
}

#elemento-gray {
  animation: floatAnim 6s ease-in-out infinite;
  z-index: 1999999999999;
}
#elemento-pink {
  animation: floatAnim2 5s ease-in-out infinite;
  z-index: 1999999999999;
}

@keyframes floatAnim {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes floatAnim2 {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.css-1eao879 {
  height: 411px !important;
}

@media (max-width: 500px) {
  div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 23px !important;
  }
}

.slider {
  overflow: hidden;
}

@media (min-width: 1080px) {
  div.swiper-slide.swiper-slide-visible.swiper-slide-active {
    transition: transform 0.8s linear;
    transform: scale(1.1);
  }

  div.swiper-slide.swiper-slide-visible.swiper-slide-next {
    transition: transform 0.8s linear;
    transform: scale(1);
  }

  div.swiper-slide.swiper-slide-visible.swiper-slide-prev {
    transition: transform 0.8s linear;
    transform: scale(1);
  }

  div.swiper.swiper-testimonials-initialized {
    .swiper-button-next {
      display: hidden;
    }

    .swiper-button-prev {
      display: hidden;
    }
  }
}

// bug responsive pageLegalDesign

@media (max-width: 1240px) {
  p.chakra-text.css-1njhnk1 {
    max-width: 300px;
  }

  p.chakra-text.css-aakt59 {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .css-14cku8y {
    height: 650px !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black;
  }
}

.dashboard-container {
  width: 100%;

  > div {
    position: unset !important;
  }
}

.dashboard {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

h2.chakra-heading.css-1jdxnwv {
  margin-top: 0.5rem !important;
}

@media (max-width: 956px) {
  div.css-naqg9q {
    justify-content: center;
  }
}

// toastify here

:root {
  --toastify-color-light: #f5f5f5;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: var(--toastify-color-progress-light);
  --toastify-color-warning: var(--toastify-color-progress-light);
  --toastify-color-error: var(--toastify-color-progress-light);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: #cc3366;
  --toastify-icon-color-success: #cc3366;
  --toastify-icon-color-warning: #cc3366;
  --toastify-icon-color-error: #cc3366;

  --toastify-toast-width: 360px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Raleway;
  --toastify-z-index: 9999999999999999999999999999;

  --toastify-text-color-light: #000;
  --toastify-text-color-dark: #000;

  //Used only for colored theme
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #cc3366;
  --toastify-spinner-color-empty-area: #ff5991;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(to left, #f452b3, #c9057b);
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__close-button {
  color: #cc3366;
  opacity: 1;
}
